#tooltip.hidden
{
    display:none;
}

#tooltip
{
    position: absolute;
    width:300px;
    height:auto;
    padding: 10px;
    background-color:azure;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba (0,0,0,0.4);
    pointer-events: none;
        
}

#pics
{
    width:250px;
}